.contenedor {
  max-width: 100%; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
  padding: 0px;
}

.navegacion {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  margin-left: 35px;
  padding: 0;
  display: block;
  border-radius: 15px;
  
}

.derecha {
  font-size: 20px;
  gap: 55px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  margin-right: 50px;
}

.derecha li a {
  text-decoration: none;
  color: white;
}

.derecha li a:hover {
  background-color: rgb(102, 124, 113);
  border-radius: 5px;
  text-decoration: none;
}
@media (max-width: 768px) {
  .derecha {
    gap: 20px;
    font-size: 10px;
  }
}

